.context-menu {
    visibility: hidden;
    opacity: 0;
    background-color: #DEEFE7;
    position: fixed;
    z-index: 5;
    color: black;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #aaa;
    font-size: 0.875rem;
    width: 100%;
    max-width: 250px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

/* this is the left click dropdown menu element */
.context-menu.active { 
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

/* this is the left click dropdown menu individual elements (each row) */
.context-menu button {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 5px 8px;
    cursor: pointer;
    color: black;
}

.context-menu button:hover {
    background-color: #159A9C;
    color: white;
}

.context-menu hr {
    border: 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    margin: 5px 0;
}

.context-menu .icon {
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.delete-x, #delete-x {
    margin-top: 6px;
    margin-bottom: 4px;
    opacity: 1;
    font-family: Arial, sans-serif;
    background: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    padding-left: 10px;
    padding-right: 10px;
}

.delete-x:hover, #delete-x:hover {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.button-container button:hover {
    background-color: #0056b3;
}

.container {
    position: relative; 
    width: 100%;
    height: 100vh; 
  }

.graph-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; 
}

.custom-fields {
    display: 'flex';
    align-items: 'center';
    margin-bottom: '10px';
}

.custom-fields-container, .suggested-fields-container {
    display: 'flex';
    flex-direction: row;
    align-items: center;
}

#text-field {
    flex-grow: 1;
}

/* Navigation icon outlines */
/* .vis-button {
    background-color: blue;
    color: blue;
    outline-color: #0056b3;
} */
