body{
  background-color: black;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header{
  color: white;
  cursor: default;
}

.addPerson{
  background-color: #ff9770 ;
  margin: '5px';  
  color: 'white';
  font-size: 13px;
  width: 100px;
  text-align: center;
  position: relative;
  bottom: 100px;
  left: 100px;

}

.addOrg{
  margin: '5px'; 
  background-color: #9EE09E; 
  color: 'white'; 
  font-size: 13px;
  width: 100px;
  text-align: center;
}

.undo{
  margin: '5px'; 
  background-color: #eac4d5; 
  color: 'white'; 
  font-size: 13px;
  width: 100px;
  text-align: center;
  bottom: 100px;
}

.redo{
  margin: '5px'; 
  background-color: #cc99ff; 
  color: 'white'; 
  font-size: 13px;
  width: 100px;
  text-align: center;
  bottom: 100px;
}